.projects {
    padding: 4rem 8rem;
    min-height: 80vh;
    width: 100%;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .projects span:first-of-type {
  width: 100%;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 8rem;
    padding-top: 3rem;
    justify-self: center;
  }

  @media (max-width: 780px) {
    .projects {
      padding: 2rem 4rem;
    }
  }
  
  @media (max-width: 395px) {
    .projects {
      padding: 2rem 1.5rem;
    }
  } 